.gp1 {
    width: 450px;
    height: 310px;
    background: rgb(165, 156, 156);
    border: 10px solid rgba(0, 0, 0, 0.5);
    margin-left: 400px;
    margin-top: 110px;
    padding-left: 230px;
    padding-top: 97px;
    display: block;
}

.gp1 .p1 {
    font-size: 40px;
}

.error1{
    color: #ec0909;
}
.error2{
    color: #ec0909;
}

.gp1 .btn1 {
    margin-left: 90px;
    padding: 10px 20px;
    background:  #01f98d;
    border-radius: 10px;

}

.gp1 .i1{
    padding: 10px 50px;
    
    border-radius: 10px;
}

.gp2{
    width: 450px;
    height: 310px;
    background: rgb(165, 156, 156);
    border: 10px solid rgba(0, 0, 0, 0.5);
    margin-left: 400px;
    margin-top: 110px;
    padding-left: 230px;
    padding-top: 97px;
    display: none;
}
.gp2 .p2{
    font-size: 40px;
   
}



.gp2 .btn2{
    margin-left: 90px;
    padding: 10px 20px;
    background:  #5cf603d2;
    border-radius: 10px;

}

.gp2 .i2{
    padding: 10px 50px;
   
    border-radius: 10px;
}